<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<div style="display: flex; flex-direction: column;">
  <div class="header">
    <p style>Work marking</p>
  </div>
  <div class="body">
    <div class="navigation">
      <button mat-raised-button color="primary" routerLink="/employee" routerLinkActive="active">Quản lý nhân viên</button>
      <button mat-raised-button color="primary" routerLink="/work-marking" routerLinkActive="active">Nhập công</button>
      <button mat-raised-button color="primary" routerLink="/export">Xuất excel</button>
    </div>
    <router-outlet style="flex: 1;"></router-outlet>
  </div>
</div>





<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

